# Firebase and Cloud Functions
firebase-debug.log
.firebaserc
firebase.json
.gcloudignore

# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment variables and secrets
.env
.env.local
.env.*.local

# Logs
logs/
*.log
log/

# OS and Editor Files
.DS_Store
Thumbs.db

# MacOS specific files
*.DS_Store

# ESLint
eslint.config.mjs

